.container {
  height: 100vh;
}

h1 {
  font-size: 7rem;
}

.HeroSVG {
  margin: 1rem 0;
}

.HeroItems {
  padding: 8em 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.InvestmentText {
  font-size: 1.5em;
  text-align: left;
}

.Button-LearnMore:hover span.MuiButton-label {
  transform: translateX(-5px);
}
