.NavbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  margin: 1rem 1rem;
}

.LinksList {
  display: flex;

  list-style-type: none;
  margin: 1rem 1rem;
}

.LinksList li {
  margin: 0 3em;
}
