.App {
  text-align: center;
  background-color: #111;
  height: 100%;
}

.Container {
  background-color: #111;
  height: 100%;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white
}

li {
  color: white;
}
